.form {
    //background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    //border: 1px solid gray;
   // border-radius: 5px;
    //padding: 30px;
    margin: 50px auto;



 // margin-bottom: 30px;
  
    &__title {
      margin-bottom: 20px;
      font-size: 29px;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

  }

  @media screen and (max-width: 500px){


    .form {
      //background-color: white;
      display: flex;
      flex-direction: column;
      width: 300px;
      //border: 1px solid gray;
     // border-radius: 5px;
      //padding: 30px;
      margin: 10px auto;
  
  
  
   // margin-bottom: 30px;
    
      &__title {
        margin-bottom: 20px;
        font-size: 29px;
      }
    
      &__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
  
    }


  }